<div class="row">
  <div class="col-6">
    <h4>Submit new quote</h4>

    <form (ngSubmit)="editQuote()">
      <div class="form-group">
        <label>
          <select name="category" class="form-control" [(ngModel)]="category">
            <option value="">Select category</option>
            <option *ngFor="let c of categories">{{ c.nameCategory }}</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" name="author" id="author" class="form-control" [(ngModel)]="author">
      </div>
      <div class="form-group">
        <label for="text">Quote text</label>
        <textarea class="form-control" name="text" id="text" [(ngModel)]="text"></textarea>
      </div>
      <button type="submit" class="btn btn-danger">Save</button>
    </form>
  </div>
</div>
