<div class="row mt-2" *ngFor="let quote of quotes">
  <div class="col" *ngIf="quote">
    <div class="card">
      <h4>{{ quote.category }}</h4>
      <p>{{ quote.text }}</p>
      <hr>
      <p>{{ quote.author }}</p>
    </div>
    <button class="btn btn-secondary" [routerLink]="['edit']">Edit</button>&nbsp;
    <button class="btn btn-danger" (click)="deleteQuote()">Delete</button>
  </div>

</div>





