<div class="row mt-2" >
  <div class="col">
    <h4>Categories</h4>
    <ul class="list-group" >
      <li class="list-group-item" >
        <a class="list-group-item list-group-item-action"
           *ngFor="let quote of categories" [routerLink]="['quote',quote.id]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{ quote.nameCategory }}</a>
      </li>
    </ul>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>

